<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>This is the page for /Home/Index</h1>
    <p> No animals were harmed in the creation of this page.</p>
    </div>
</body>
</html>
